body{
  overflow-x: hidden;
}

h1,h2{
  color: #FC4F4F;
}

p{
  color: black;
}

nav .navbar-nav .nav-item .nav-link{
  color: #FC4F4F;
  font-size: 20px;
}

nav .navbar-nav .nav-item .nav-link:hover{
  transform: scale(1.1);
  transition: 0.75s;
  color: #fa2929;
}


nav .navbar-nav .nav-item .nav-link.active{
  color: #FC4F4F;
  font-weight: 700;
}

#home .row{
  height: 90vh;
}

#home .row .col:nth-child(1){
  margin-left: 10rem;
}

#home .row .col:nth-child(2){
  margin-right: 3rem;
}

#home h1{
  font-size: 72px;
  font-weight: 700;
}

#home p{
  font-size: 36px;
}

#home .btn-more a{
  background-color: #FC4F4F;
  border-color: #FC4F4F;
  color: #ffff;
  font-size: 18px;
}

#home .btn-more a:hover{
  background-color: #ffff;
  color: #FC4F4F;
  border-color: #FC4F4F;
  transition: 0.5s;
}

#about .about-header{
  margin-bottom: 5rem;
}

#about .about-header h1{
  font-weight: 600;
  font-size: 54px;
}

#about .about-header hr{
  width: 10%;
  border: 3px solid #F76E11;
  margin: 1rem auto 0 auto;
  border-radius: 3px;
}

#about .row img{
  width: 600px;
  height: 600px;
}

#about .content-list h2{
  font-weight: 500;
  font-size: 48px;
}

#about .content-list p{
  font-size: 24px;
}


#about .card-about:nth-child(1):hover,
#about .card-about:nth-child(6):hover{
  background-color: #FFBC80;
  transition:0.5s;
}
#about .card-about:nth-child(2):hover,
#about .card-about:nth-child(5):hover{
  background-color: #FFCCD2;
  transition:0.5s;
}

#features{
  margin-bottom: 5rem;
}

#features .feature-header h2{
  font-size: 54px;
  font-weight: 600;
}


#features .feature-header hr{
  width: 10%;
  border: 3px solid #F76E11;
  margin: 1rem auto 0 auto;
  border-radius: 3px;
}

#features .feature-img img{
  width: 150px;
  height: 150px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

#features .nav-link:hover{
  color: #FC4F4F;
  transition: 0.5s;
}

#calculator{
  margin-top: 10rem;
}

#calculator .calculator-header{
  padding-right: 1rem;
}

#calculator .calculator-header h2{
  font-size: 54px;
  font-weight: 600;
}

#calculator .calculator-header p{
  font-size: 28px;
}

#feedback{
  margin-top: 5rem;
  height: 50vh;
  padding-top: 10vh;
}

#header-menu .row{
  height: 75vh;
}

#header-menu .image-header img{
  height: 400px;
}

#header-menu ul li{
  font-size: 18px;
}

#food-list .list-filter .nav-link{
  color: #FC4F4F;
}

#food-list .list-filter .active{
  background-color: #FC4F4F;
  color: #ffff;
}


#food-list .card-item{
  margin-top: 1.5rem;
}

#food-list .card-item .card:hover{
  box-shadow: 10px 10px 5px lightblue;
  transition: 0.75s;
}

#food-list .card .card-category{
  height: 40px;
  width: 100px;
  position: absolute;
  background-color: #FC4F4F;
  align-items: center;
  padding: 5px;
  text-align: center;
  top: 15px;
  left: 20px;
}

#food-list .card-body a{
  background-color: #FC4F4F;
  color: #ffff;
  border-color: #FC4F4F;
}

#food-list .card-body a:hover{
  background-color: #ffff;
  color: #FC4F4F;
  border: 3px;
  transition: 0.5s;
}

.article-list .card-body a{
  background-color: #FC4F4F;
  color: #ffff;
  border-color: #FC4F4F;
}

.article-list .card-body a:hover{
  background-color: #ffff;
  color: #FC4F4F;
  border: 3px;
  transition: 0.5s;
}

.article-list .card:hover{
  box-shadow: 10px 10px 5px lightblue;
  transition: 0.75s;
}


#food-content{
  font-size: 18px;
}

.navigation-pane{
  font-size: 20px;
}

.navigation-pane a{
  color: #FC4F4F;
}


.article-header .container-fluid{
  margin: 4rem 0;
}

.article-header .row .head-left{
  padding-left: 4rem;
}

.article-list .container-fluid{
  margin: 4rem 0;
}

.article-header .newest-card .newest-article-date{
  margin-top: -10px;
}

.article-list .article-card img{
  height: 250px;
  width: 100%;
}
